node_modules/
.expo/
.expo-shared/
dist/
web-build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios/
android/
.env
.env.local
.env.*.local
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
Thumbs.db
*.log
*.tsbuildinfo
.idea/
.vscode/
.metro-health-check*
expo-env.d.ts